.table-wrap {
  overflow-x: auto;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.table {
  width: 50vw;
  min-width: 20vw;
}


/* Hide radio in table */

.ant-table-selection-col,
.ant-table-selection-column {
  display: none;
}